<%= render "shared/errors", object: @journal_entry %>
<%= render "shared/error_modal" %>

<%= nested_form_for @journal_entry do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :company_id, value: current_user.company.id %>
  <p>
    <%= f.label :transaction_date %>
    <%= f.text_field :transaction_date, value: Date.today, class: "form-control datepicker", required: true %>
  </p>
  <table id="tbl-journal-entry" class="table table-bordered">
    <thead>
      <tr>
        <td><%= t "journal_entries.table.chart_of_account" %></td>
        <td><%= t "journal_entries.table.description" %></td>
        <td><%= t "journal_entries.table.debit" %></td>
        <td><%= t "journal_entries.table.credit" %></td>
        <td><%= t "journal_entries.table.name" %></td>
      </tr>
    </thead>

    <tbody>
      <%= f.fields_for :journal_entry_transactions, wrapper: false do |ff| %>
        <tr class="fields" data-chart-account-selected-id="<%= ff.object.chart_of_account_id %>">
          <td>
            <%= ff.select :chart_of_account_id, options_for_select(@chart_accounts, ff.object.chart_of_account_id), {include_blank: true}, class: "form-control select2-tree grid-cell chart-account" %>
          </td>
          <td><%= ff.text_field :description, class: "form-control grid-cell description", autocomplete: "off" %></td>
          <td><%= ff.text_field :debit,
            value: number_with_precision(ff.object.debit, precision: 2, delimiter: ","),
            class: "form-control grid-cell debit", autocomplete: "off" %></td>
          <td><%= ff.text_field :credit,
            value: number_with_precision(ff.object.credit, precision: 2, delimiter: ","),
            class: "form-control grid-cell credit", autocomplete: "off" %></td>
          <td><%= ff.collection_select :customer_vender_id, @customer_venders, :id, :name, {include_blank: true}, class: "form-control select2-simple grid-cell name" %></td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td></td>
        <td><%= t "journal_entries.table.totals" %></td>
        <td class="total-debit"></td>
        <td class="total-credit"></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <p hidden><%= f.link_to_add t("journal_entries.actions.add"), :journal_entry_transactions,
    data: {target: "#tbl-journal-entry"} %></p>
  <p><%= f.submit t("journal_entries.actions.save"), class: "btn btn-primary btn-save pull-right" %></p>
<% end %>
