<%= render "shared/errors", object: @journal_entry %>
<%= render "shared/error_modal" %>

<%= nested_form_for @journal_entry, html: {class: "form-journal"} do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :company_id, value: current_user.company.id %>
  <p>
    <%= f.label :transaction_date %>
    <%= f.text_field :transaction_date, value: f.object.transaction_date || Date.today, class: "form-control datepicker transaction-date", required: true %>
  </p>
  <p>
    <%= f.label :bank_type_id %>
    <%= f.select :bank_type_id, options_for_select(@bank_types, f.object.bank_type_id), {}, class: "form-control select2-simple bank_type" %>
  </p>
  <p>
    <span><%= f.label :log_book_id %></span>
    <span class="pull-right">
      <%= link_to t("journal_entries.actions.add_new"), new_log_book_path(), remote: true %>
    </span>
    <%= f.select :log_book_id, options_for_select(@log_books, f.object.log_book_id), {}, class: "form-control select2-data select2-simple log_book" %>
  </p>
  <table id="tbl-journal-entry" class="table table-bordered">
    <thead>
      <tr>
        <td><%= t "journal_entries.table.chart_of_account" %></td>
        <td><%= t "journal_entries.table.description" %></td>
        <td><%= t "journal_entries.table.debit" %></td>
        <td><%= t "journal_entries.table.credit" %></td>
        <td><%= t "journal_entries.table.name" %></td>
      </tr>
    </thead>

    <tbody>
      <p><i class="icon-loading fa fa-circle-o-notch fa-spin fa-2x"></i></p>
      <%= render "journal_entry_transaction_fields", f: f %>
    </tbody>

    <tfoot>
      <tr>
        <td></td>
        <td><%= t "journal_entries.table.totals" %></td>
        <td class="total-debit"></td>
        <td class="total-credit"></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <p hidden><%= f.link_to_add t("journal_entries.actions.add"), :journal_entry_transactions,
    data: {target: "#tbl-journal-entry"} %></p>
  <p><%= f.submit t("journal_entries.actions.save"), class: "btn btn-primary btn-save pull-right" %></p>
<% end %>

<%= button_to t("journal_entries.actions.delete"), "javascript:void(0)", class: "btn btn-danger btn-delete" %>
<%= render "journal_entries/modal_confirm_delete" unless @journal_entry.new_record? %>
