<div id="customer-vender" class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><%= link_to "", root_path, class: "glyphicon glyphicon-home" %></li>
      <li class="active"><%= @status.capitalize %></li>
    </ol>
    <span class="title"><%= @status.capitalize %></span>
    <span><%= link_to t("customer_vender.actions.add"), new_partner_path(@status),
      class: "btn btn-primary pull-right", remote: true %></span>
    <table class="table table-bordered table-striped tbl-customer-vender">
      <thead>
        <th class="name"><%= t "customer_vender.table.name" %></th>
        <th class="state"><%= t "customer_vender.table.state" %></th>
        <th class="action"><%= t "customer_vender.table.action" %></th>
      </thead>
      <tbody class="customer-vender-list">
        <%= render @customer_venders %>
      </tbody>
    </table>
    <div class="customer-vender-modal"></div>
    <div class="customer-vender-confirm-modal"></div>
  </div>
</div>
