<div id="customer-vender" class="row">
  <div class="col-md-8">
    <h2><%= t "customer_vender.labels.detail" %></h2>
    <table class="table">
      <tr>
        <th><%= t "customer_vender.table.name" %></th>
        <td><%= @customer_vender.name %></td>
      </tr>
      <tr>
        <th><%= t "customer_vender.table.email" %></th>
        <td><%= @customer_vender.email %></td>
      </tr>
      <tr>
        <th><%= t "customer_vender.table.contact" %></th>
        <td><%= @customer_vender.contact %></td>
      </tr>
      <tr>
        <th><%= t "customer_vender.table.address" %></th>
        <td><%= @customer_vender.address %></td>
      </tr>
    </table>
  </div>
</div>
