<div id="customer-vender" class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><%= link_to "", root_path, class: "glyphicon glyphicon-home" %></li>
      <li><%= link_to @customer_vender.status.capitalize,
        partners_path(@customer_vender.status) %></li>
      <li><%= @customer_vender.name %></li>
    </ol>
    <div class="title"><%= t "customer_vender.labels.detail" %></div>
    <hr>
    <dl class="dl-horizontal">
      <dt><%= t "customer_vender.table.name" %></dt>
      <dd><%= @customer_vender.name %></dd>
      <dt><%= t "customer_vender.table.email" %></dt>
      <dd><%= @customer_vender.email %></dd>
      <dt><%= t "customer_vender.table.contact" %></dt>
      <dd><%= @customer_vender.contact %></dd>
      <dt><%= t "customer_vender.table.address" %></dt>
      <dd><%= @customer_vender.address %></dd>
    </dl>
  </div>
</div>
