<table id="tbl-transaction" class="table table-bordered tbl-item grid">
  <thead>
    <tr>
      <th class="item-list-head"><%= t "enter_bills.tables.item_list" %></th>
      <th class="description-head"><%= t "enter_bills.tables.description" %></th>
      <th class="quantity-head"><%= t "enter_bills.tables.quantity" %></th>
      <th class="unit-of-measure-head"><%= t "enter_bills.tables.unit_of_measure" %></th>
      <th class="price-each-head"><%= t "enter_bills.tables.cost" %></th>
      <th class="amount-head"><%= t "enter_bills.tables.amount" %></th>
    </tr>
  </thead>

  <tbody class="transaction">
    <%= render "enter_bill_item_fields", f: f %>
  </tbody>
</table>

<p hidden><%= f.link_to_add t("enter_bills.actions.add"), :enter_bill_items,
  data: {target: "#tbl-transaction"} %></p>
