<div id="receive-payment" class="row">
  <div class="col-md-9">
    <ol class="breadcrumb">
      <li><%= link_to "", root_path, class: "glyphicon glyphicon-home" %></li>
      <li class="active"><%= t "receive_payments.title" %></li>
    </ol>
    <div class="receive-payment-header">
      <span class="title"><%= t "receive_payments.title" %></span>
      <span class="btn-navigate pull-right">
        <%= link_to "", "javascript:void(0)", class: "btn btn-default btn-next glyphicon glyphicon-chevron-left" %>
        <%= link_to "", "javascript:void(0)", class: "btn btn-default btn-prev glyphicon glyphicon-chevron-right" %>
        <%= link_to t("receive_payments.actions.add_new"), new_receive_payment_path,
          class: "btn btn-primary" %>
      </span>
    </div>
    <hr>
    <div class="payment-data">
      <%= render "payment_data" %>
    </div>
  </div>
</div>
