<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t("title"), root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t "menu.company" %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to t("menu.journal_entry"), new_journal_entry_path %></li>
              <li><%= link_to t("menu.chart_of_account"), chart_of_accounts_path %></li>
              <li><%= link_to t("menu.log_book"), log_books_path %></li>
              <li><%= link_to t("menu.bank_type"), bank_types_path %></li>
            </ul>
          </li>
          <li><%= link_to t("menu.customer"), partners_path(:customer) %></li>
          <li><%= link_to t("menu.vender"), partners_path(:vender) %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
              <%= image_tag "profile.png", width: "40", class: "img-circle" %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to t("menu.sign_out"), destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("menu.sign_in"), new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
