<div class="row" id="item-list">
  <div class="col-md-9">
    <ol class="breadcrumb">
      <li><%= link_to "", root_path, class: "glyphicon glyphicon-home" %></li>
      <li><%= link_to t("item_lists.breadcrumbs.item_list"),
        item_lists_path %></li>
      <% if @item_list.new_record? %>
        <li class="active"><%= t "item_lists.breadcrumbs.add_new" %></li>
      <% else %>
        <li class="active"><%= t "item_lists.breadcrumbs.edit",
          name: @item_list.name %></li>
      <% end %>
    </ol>

    <div class="title"><%= t "item_lists.item_list" %></div>
    <hr>

    <%= form_for @item_list do |f| %>
      <div class="row">

        <%= render "shared/errors", object: @item_list %>
        <div class="col-md-6">
          <%= f.label :item_list_type_id %>
          <%= f.select :item_list_type_id,
            options_for_select(@types, f.object.item_list_type_id), {}, {class: "item-list-type"} %>

          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>

          <div class="manufacturer">
            <%= f.label :manufacturer_part_number %>
            <%= f.text_field :manufacturer_part_number, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6">
          <%= f.label :chart_of_account_id %>
          <%= f.select :chart_of_account_id,
            options_for_select(@chart_accounts, f.object.chart_of_account_id),
            {}, {id: "chart-account"} %>

          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>

          <div class="other-field">
            <%= f.label :unit_of_measure_id %>
            <%= f.select :unit_of_measure_id,
              option_groups_from_collection_for_select(@measures, :unit_of_measures, :name, :id, :name), {}, id: "unit-of-measure" %>
          </div>
        </div>

        <dir class="col-md-12"><hr></dir>

        <div class="col-md-6">
          <div class="panel panel-default other-field">
            <div class="panel-footer"><%= t "item_lists.purchase_information" %></div>
            <div class="panel-body">
              <%= f.label :cost %>
              <%= f.text_field :cost, class: "form-control cost" %>

              <%= f.label :purchase_description %>
              <%= f.text_area :purchase_description, class: "form-control" %>

              <%= f.label :cogs_account_id %>
              <%= f.select :cogs_account_id,
                options_for_select(@chart_accounts, f.object.customer_vender_id),
                {}, {id: "cogs-account"} %>

              <%= f.label :customer_vender_id %>
              <%= f.select :customer_vender_id,
                options_for_select(@customer_venders, f.object.customer_vender_id),
                {}, {id: "customer-vender"} %>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default other-field">
            <div class="panel-footer"><%= t "item_lists.sales_information" %></div>
            <div class="panel-body">
              <%= f.label :price %>
              <%= f.text_field :price, class: "form-control price" %>

              <%= f.label :sale_description %>
              <%= f.text_area :sale_description, class: "form-control" %>

              <%= f.label :income_account_id %>
              <%= f.select :income_account_id,
                options_for_select(@chart_accounts, f.object.chart_of_account_id),
                {}, {id: "income-account"} %>
            </div>
          </div>
        </div>
        <br>
        <p class="col-md-12">
          <%= link_to t("btn.cancel"), item_lists_path, class: "btn btn-default" %>
          <%= f.submit t("btn.save"), class: "btn btn-primary pull-right" %>
        </p>
      </div>
    <% end %>
  </div>
</div>
