<tr>
  <td style="padding-left: <%= item_list.depth * 20 + 10 %>px"><%= item_list.name %></td>
  <td><%= item_list.description %></td>
  <td><%= item_list.item_list_type_name %></td>
  <td><%= item_list.chart_of_account_name %></td>
  <td><%=  %></td>
  <td><%=  %></td>
  <td><%=  %></td>
  <td><%= link_to t("btn.edit"), edit_item_list_path(item_list) %></td>
  <td><%= link_to t("btn.delete"), item_list, method: :delete,
                  data: {confirm: t("messages.confirm_delete")} %></td>
</tr>

<%= render partial: "item_list", collection: item_list.children, as: "item_list" %>
