<div class="row item-lists">
  <div class="col-md-12">
    <h2 class="text-center"><%= t "item_lists.item_list" %></h2>
    <div class="btn-add-new pull-right ">
      <%= link_to t("btn.add_new"), new_item_list_path, class: "btn btn-primary" %>
    </div>
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <td><%= t "item_lists.name" %></td>
        <td><%= t "item_lists.description" %></td>
        <td><%= t "item_lists.type" %></td>
        <td><%= t "item_lists.account" %></td>
        <td><%= t "item_lists.total_qty_in" %></td>
        <td><%= t "item_lists.total_qty_out" %></td>
        <td><%= t "item_lists.total_balance" %></td>
        <td colspan="2"></td>
      </thead>
      <tbody >
        <%= render @item_lists %>
      </tbody>
    </table>
  </div>
</div>
