<div id="chart-of-account" class="row chat-of-accounts-form">
  <h2 class="text-center"><%= t "chart_of_accounts.chart_of_account" %></h2>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @chart_of_account do |f| %>
      <%= render "shared/errors", object: @chart_of_account %>

      <%= f.label :account_no %>
      <%= f.text_field :account_no, class: "form-control" %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>

      <%= f.label t("chart_of_accounts.sub_item") %>
      <%= f.select :parent_id, options_for_select(@parents, f.object.parent_id), {include_blank: true}, class: "form-control select2-tree" %>

      <%= f.label :chart_account_type_id %>
      <%= f.select :chart_account_type_id,
        options_for_select(@chart_account_types.collect{|acc_type| [acc_type.name, acc_type.id, {"data-acc-code" => acc_type.type_code}]}, @chart_of_account.chart_account_type_id),
        {}, {class: "form-control chart-account-type select2-simple"} %>

      <div class="statement_ending">
        <%= f.label :statement_ending_balance %>
        <%= f.text_field :statement_ending_balance, step: "any", class: "form-control statement-ending-balance" %>

        <%= f.label :statement_ending_date %>
        <%= f.text_field :statement_ending_date, class: "form-control datepicker" %>
      </div>
      <br>

      <%= link_to t("btn.cancel"), chart_of_accounts_path, class: "btn btn-default" %>
      <%= f.submit t("btn.save"), class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>
