<div class="row chat-of-accounts">
  <div class="col-md-12">
    <h2 class="text-center"><%= t ("chart_of_accounts.chart_of_account") %></h2>
    <div class="btn-add-new pull-right ">
      <%= link_to t("btn.add_new"), new_chart_of_account_path, class: "btn btn-primary" %>
    </div>
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <td><%= t "chart_of_accounts.account_no" %></td>
        <td><%= t "chart_of_accounts.name" %></td>
        <td><%= t "chart_of_accounts.description" %></td>
        <td><%= t "chart_of_accounts.type" %></td>
        <td><%= t "chart_of_accounts.balance_total" %></td>
        <td><%= t "chart_of_accounts.statement_ending_balance" %></td>
        <td><%= t "chart_of_accounts.statement_ending_date" %></td>
        <td colspan="2"></td>
      </thead>
      <tbody >
        <%= render @chart_of_accounts %>
      </tbody>
    </table>
  </div>
</div>
