<div id="chart-account" class="row chat-of-accounts">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><%= link_to "", root_path, class: "glyphicon glyphicon-home" %></li>
      <li class="active"><%= t "chart_of_accounts.breadcrumbs.chart_account" %></li>
    </ol>
    <span class="title"><%= t "chart_of_accounts.chart_of_account" %></span>
    <span class="btn-add-new pull-right ">
      <%= link_to t("btn.add_new"), new_chart_of_account_path, class: "btn btn-primary" %>
    </span>
    <table class="table table-bordered table-striped tbl-chart-account">
      <thead>
        <th><%= t "chart_of_accounts.account_no" %></th>
        <th><%= t "chart_of_accounts.name" %></th>
        <th><%= t "chart_of_accounts.type" %></th>
        <th><%= t "chart_of_accounts.balance_total" %></th>
        <th><%= t "chart_of_accounts.status" %></th>
        <th class="action"><%= t "chart_of_accounts.action" %></th>
      </thead>
      <tbody >
        <%= render @chart_of_accounts %>
      </tbody>
    </table>
    <div class="chart-of-account-confirm-modal"></div>
  </div>
</div>
