<!DOCTYPE html>
<html>
  <head>
    <title>Qvsystem</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <div class="header">
        <%= render "shared/header" %>
      </div>
      <div class="content">
        <div class="flash">
          <%= render "shared/flash" %>
        </div>
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
